<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Template Vechi</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

  <link rel="stylesheet" href="Error404.css">
</head>

<body class='error'>

  <div class="error-404">
    <h1>OOPS!</h1>
    <div class="text">
      <p class='line1'>404-PAGE NOT FOUND</p>
      <p class='text2'>The page you are looking for might have been removed had it's name changed or is temporarily
        unavailable.</p>
      <a href="index.html">Go to homepage</a>
    </div>
  </div>

</body>

</html>