<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Features</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <link rel="stylesheet" href="features.css">
</head>

<body>
    <section class="features-box">
        <div class="features-container">
            <div class="features-header">
                <h2 class="features-title">Features</h2>
                <p class="features-subtitle">Designed with love to give you all you need daily in just one app and a few clicks. Developed to fill in a gap in your life and to serve an unmistakable purpose.</p>
            </div>
            <div class="features-presentation">
                <ul class="features">
                    <li class="feature">
                        <img src="C:\Users\User\Desktop\notes2019\static\components\images\icons\desktop.svg" alt="image desktop">
                        <h3>Responsive</h3>
                        <p>Developed to be used on every kind of device: computer, smartphone, tablet etc.</p>
                    </li>
                    <li class="feature">
                        <img src="C:\Users\User\Desktop\notes2019\static\components\images\icons\rocket.svg" alt="image rocket">
                        <h3>Reactive</h3>
                        <p>Giving the oportunity to publish any note in just a second.
                        </p>
                    </li>
                    <li class="feature">
                        <img src="C:\Users\User\Desktop\notes2019\static\components\images\icons\robot.svg" alt="image robot">
                        <h3>Handy</h3>
                        <p>Designed especially to give a better user experience: easy to learn, use or deal with.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>