<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Partners</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="partners.css">
</head>

<body>
  <!-- partners -->
  <section class="partners">
    <div class="partners-container">
      <header class="partners-header">
        <h2>Partners</h2>
        <p>GirlsGoIT Summer Camp is organised by TEKEDU, with the support of multiple partners, namely:</p>
      </header>
      <section class="partners-content">
          <ul>
              <li>
                <a href="https://am.mfa.lt/am/ru/">
                  <img src="../images/partners/embassy-of-lithuania.png" alt="Embassy of Lithuania">
                </a>
              </li>
              <li>
                <a href="https://orangeprojects.lt/en/">
                  <img src="../images/partners/lithuanian-development-cooperation.svg" alt="Lithuanian Development Cooperation">
                </a>
              </li>
              <li>
                <a href="https://md.usembassy.gov/">
                  <img src="../images/partners/usembassy.png" alt="US Embassy">
                </a>
              </li>
              <li>
                <a href="http://www.ellation.com/">
                  <img src="../images/partners/ellation.png" alt="ellation">
                </a>
              </li>
              <li>
                <a href="https://www.sozialministerium.at/siteEN/Ministry/Welcome_to_the_Ministry/">
                  <img src="../images/partners/austria-federal-ministry-of-labour.png" alt="Austria Federal Ministry of Labour">
                </a>
              </li>
              <li>
                <a href="https://youngfeministfund.org/">
                  <img src="../images/partners/FRIDA.svg" alt="FRIDA">
                </a>
              </li>
              <li>
                <a href="https://www.unfpa.org/">
                  <img src="../images/partners/unfpa.png" alt="UNFPA">
                </a>
              </li>
              <li>
                <a href="https://molddata.md/">
                  <img src="../images/partners/molddata.png" alt="MoldData">
                </a>
              </li>
              <li>
                <a href="https://www.sozialministerium.at/siteEN/Ministry/Welcome_to_the_Ministry/">
                  <img src="../images/partners/egc.png" alt="E-governance Agency Moldova">
                </a>
              </li>
              <li>
                <a href="https://ffwagency.com/">
                  <img src="../images/partners/ffw.png" alt="FFW">
                </a>
              </li>
              <li>
                <a href="https://atomate.net/">
                  <img src="../images/partners/atomate.png" alt="Atomate">
                </a>
              </li>
              <li>
                <a href="https://www.ipgroupplc.com/">
                  <img src="../images/partners/ipg.png" alt="IPGroup">
                </a>
              </li>
              <li>
                <a href="https://www.mixbook.com/">
                  <img src="../images/partners/mixbook.png" alt="Mixbook">
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/atelier99.org/">
                  <img src="../images/partners/atelier99.png" alt="Atelier99">
                </a>
              </li>
              <li>
                <a href="http://and.md/">
                  <img src="../images/partners/and.png" alt="Academia Nicolae Dumitrescu">
                </a>
              </li>
              <li>
                <a href="https://www.aise.md/">
                  <img src="../images/partners/aise.png" alt="Academia de Inovare și Schimbare prin Educație">
                </a>
              </li>
              <li>
                <a href="https://amigo.studio/">
                  <img src="../images/partners/amigo.png" alt="Amigo">
                </a>
              </li>
            </ul>
      </section>
    </div>
  </section>
  <!-- end of partners-->
</body>

</html>