<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="notes.css">
  <title>NOTES</title>
</head>

<body>
  <section class="cards">
    <div class="cards-container">
      <div class="column">
        <div class="card">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Animi ullam autem at deleniti quam corporis in accusantium, expedita optio eaque quidem excepturi. Saepe
            natus sit nostrum voluptatum nihil reprehenderit quae!
          </p>
          <p class="notes-data">26 iulie 2019</p>
        </div>
        <div class="card">
          <ul>
            <li>lorem </li>
            <li>lorem kjdskjs</li>
            <li>lorem kjdskjs</li>
            <li>lorem kjdskjs</li>
            <li>lorem kjdskjs</li>
          </ul>
          <p class="notes-data">26 iulie 2019</p>
        </div>
        <div class="card card-image">
          <img src="https://images.unsplash.com/photo-1467847774451-42442f871d11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
          <p class="notes-data">26 iulie 2019</p>
        </div>
        <div class="card"> <a href=>CSS Advanced</a>
          <p class="notes-data">26 iulie 2019</p>

        </div>
        <div class="card">
          <h3>Now do it wrong!</h3>
          <p class="notes-data">26 iulie 2019</p>
        </div></div>



        <div class="column">
        <div class="card">
          <h1>You have a nice heart!</h1>
          <p class="notes-data">26 iulie 2019</p>
        </div>
        <div class="card card-image">
            <img src="https://images.unsplash.com/photo-1563016876-c34cd0ef41c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="notes-data">26 iulie 2019</p>
          </div>
        <div class="card">
          <h2>Do it right!</h2>
          <p class="notes-data">26 iulie 2019</p>
        </div>
      
        <div class="card">
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nisi accusantium eaque temporibus dolor, doloremque debitis magni voluptatem itaque repellat ducimus, voluptatibus quae magnam mollitia cumque molestiae modi saepe fugiat.</h4>
          <p class="notes-data">26 iulie 2019</p>
        </div>
       
        <div class="card card-image">
            <img src="https://images.unsplash.com/photo-1562619371-b67725b6fde2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="notes-data">26 iulie 2019</p>
        </div>
     
      </div>
    </div>
  </section>
</body>

</html>