<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Template Vechi</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

  <link rel="stylesheet" href="editor.css">
</head>

<body class="editor">
  <div class="editor-box">
    <div class="editor-text">
      <textarea placeholder="Write your text"></textarea>
    </div>
    <div class="editor-buttons">
      <button class='h1-button'>
        H1
      </button>
      <button class='h2-button'>
        H2
      </button>
      <button class='h3-button'>
        H3
      </button>
      <button class='p-button'>
        P
      </button>
      <button class='ul-button'>
        UL
      </button>
      <button class='link-button'>
        LINK
      </button>
      <button class='image-button'>
        IMAGE
      </button>
    </div>
  </div>
</body>


</html>