<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>about</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

  <link rel="stylesheet" href="about.css">
</head>

<body>
  <!-- About -->
    <section class="about">
      <h2>
        About Notes App
      </h2>
      <p>
        Notes is a simple and helpful web application developed to capture and store ideas. It is a user-friendly application for taking notes that can be effortlessly accessed on any device to integrate easier into your activity. Notes is not only for your day to day life, is also a solution for any domain you’re a part of. The application has been developed by the GirlsGoIT 2019 Sumer-Camp participants.
      </p>
      <p>
          GirlsGoIT has reached to more than 2000 girls in more than 20 regions in Moldova, with the support of our partners who have contributed to GirlsGoIT Impact and Growth. Since 2015, we have implemented GirlsGoIT based on three priority areas.
      </p>
    </section>
  <!-- End of About -->
</body>

</html>