<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Empty Notei</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

  <link rel="stylesheet" href="empty.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <section class="note note-editor">
    <div class="note-container">
      <div class="note-editor-content">
          <span class="note-editor-add"></span>
          <span class="note-editor-empty"></span>
        </div>
        <button class="note-editor-delete">
          Delete this note
        </button>
    </div>
  </section>
</body>

</html>