<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Template Vechi</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

  <link rel="stylesheet" href="hero.css">
</head>

<body>
  <!-- HERO -->
  <section class="hero">
    <img src="https://picsum.photos/id/180/2400/1600" alt="image">
    <div class="hero-text">
      <h1 class="hero-title">Completely pursue scalable
      </h1>
      <p class="hero-subtitle">Leverage agile frameworks to provide a robust synopsis for high level overviews</p>
    </div>
    <div class="hero-overlay"></div>

  </section>
</body>

</html>