<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="help.page.css">
</head>

<body>
    <section class="help">
        <div class="help-container">
            <div class="help-style">
                <h2 class="title">How to style a note?</h2>
                <ul class="suggestions">
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;h1&gt; </span> use the selector
                            <span class="selector"> .note h1 </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;H2&gt;</span> use the selector
                            <span class="selector"> .note h2 </span>
                        </p>
                    </li>

                    <li>
                        <p>To edit an
                            <span class="tag">&lt;H3&gt;</span> use the selector
                            <span class="selector"> .note h3 </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;P&gt;</span> use the selector
                            <span class="selector"> .note p </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;UL&gt; </span> use the selector
                            <span class="selector"> .note ul</span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;LINK&gt; </span> use the selector
                            <span class="selector"> .note a </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;IMG&gt;</span> use the selector
                            <span class="selector"> .note img </span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="help-style">
                <h2 class="title">How to style a card?</h2>
                <ul class="suggestions">
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;h1&gt; </span> use the selector
                            <span class="selector"> .card h1 </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;H2&gt; </span> use the selector
                            <span class="selector"> .card h2 </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;H3&gt; </span> use the selector
                            <span class="selector"> .card h3 </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;P&gt; </span> use the selector
                            <span class="selector"> .card p </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;UL&gt; </span> use the selector
                            <span class="selector"> .card ul </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;LINK&gt; </span> use the selector
                            <span class="selector"> .card a </span>
                        </p>
                    </li>
                    <li>
                        <p>To edit an
                            <span class="tag">&lt;IMG&gt; </span> use the selector
                            <span class="selector"> .card img </span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>