<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Note</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

  <link rel="stylesheet" href="Note.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <!-- Note -->
  <article class="note">
    <div class="note-container">
      <!-- Title -->
      <h1>
        You have a nice heart
      </h1>
      <!-- End of Title -->
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam omnis pariatur repellendus. Aspernatur, eum nihil. Adipisci natus consequuntur illo, nobis voluptates, quisquam sequi sapiente temporibus sunt asperiores quia voluptatem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eos quidem maxime odit ea quo aut expedita
        veritatis sit vero tempora rem libero ut, omnis minus unde repellat amet in? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptas eaque, sint a optio quod cum expedita quisquam error animi, earum hic provident quis quibusdam necessitatibus officia velit, deserunt eligendi.
      </p>
      <div class="img">
        <img src="https://picsum.photos/id/278/5616/3744">
      </div>
      <!-- Paragraph -->
      <h2>
        You have a nice heart
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, modi, quos tenetur vel libero id iusto
        nesciunt velit quis soluta sed tempora fugiat, corrupti quia consequuntur laborum sint fuga minus?
      </p>
      <!-- End of Paragraph -->
      <!-- Links -->
      <div class="link">
        <a href="#">HTML</a>
      </div>
      <div class="link">
        <a href="#">CSS Basic</a>
      </div>
      <div class="link">
        <a href="#">CSS Advanced</a>
      </div>
      <!-- End of Links -->
      <!-- List -->
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </li>
        <li>
          Fermentum iaculis eu non diam phasellus vestibulum lorem.
        </li>
        <li>
          Adipiscing elit pellentesque habitant morbi.
        </li>
        <li>
          Arcu felis bibendum ut tristique et egestas.
        </li>
        <li>
          Consequat nisl vel pretium lectus quam id leo.
        </li>
      </ul>
      <!-- End of List -->
      <!-- Paragraph -->
      <h3>
        You have a nice heart
      </h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum sed at, impedit nobis nam nihil molestiae ipsum
        quia. Saepe adipisci omnis corrupti, commodi pariatur dolorem totam officia facilis itaque incidunt?
      </p>
      <!-- End of Paragraph -->
    </div>
  </article>
  <!-- End of Note -->
</body>
</html>