.note {
    font-size: 16px;
    padding-top: 9.5em;
}

.note-container {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: Roboto, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #393939;
    line-height: 1.5;
}
.note h1 {
    font-size: 3.5em;
    margin-bottom: 1em;
    margin-top: 0;
}
.note h2 {
    font-weight: normal;
    margin-bottom: 0.9em;
    margin-top: 0;
    font-size: 2em;
}
.note h3 {
    font-size: 1.63em;
    font-weight: normal;
    margin-bottom: 1.07em;
    margin-top: 0;
}
.note div.img {
    object-fit: cover;
    margin: 0 -4.4em 4.4em -4.45em;
}
.note img {
    max-width: 100%;
    height: auto;
}
.note p {
    font-size: 1.3em;
    margin-bottom: 2.4em;
    margin-top: 0;
}

.note div.link {
    margin-bottom: 1.3em;
}
.note a {
    font-size: 1.3em;
    color: #208AFA;
    text-decoration-line: none;
}
.note ul {
    margin: 0 0 4.4em 0;
    list-style-type: none;
}
.note li {
    font-size: 1.3em;
    margin-bottom: 0.75px;
    position: relative;
}

.note li:before {
    content: "";
    width: 0.2em;
    height: 0.2em;
    background-color: #393939;
    display: block;
    position: absolute;
    left: -0.86em;
    top: 0.7em;
    border-radius: 0.09px;
}



@media only screen and (max-width: 1150px){
    .note div.img {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 960px) {
    
    .note {
        font-size: 14px;
        padding-top: 3em;
    }

    .note h1,
    .note h2,
    .note h3,
    .note p,
    .note ul,
    .note div.img,
    .note .link {
        margin-bottom: 1em;
        margin-top: 0;
    }

    .note h2,
    .note h3 {
        font-weight: bold;
    }

    .note h1 {
        font-size: 2em;
    }
    
    .note h2 {
        font-size: 1.5em;
    }

    .note h3 {
        font-size: 1.25em;
    }
}